.full-width {
    width: 100%;
}

.navbar-default {
    height: 120px;
}

.navbar-default .navbar-nav > li > a, .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 120px;
}


.navbar-brand {
    margin-top: 12px;
}
