{% extends "theme.html" %}

{% load static %}

{% block head %}
    <link rel="import" href="https://app.dialogfeed.com/wc/elements/dialogfeed-wall.html">
{% endblock %}

{% block body %}
    <div class="container">
        <dialogfeed-wall style="position: relative; top: -24px;" slug="uni-day-raffle" width="" env="production_page"></dialogfeed-wall>
        <a style="text-indent: -9999px; position: absolute; bottom: 50px; right: 20px; z-index: -1; display:inline-block;" href="http://www.dialogfeed.com/">Social Wall and Widget By Dialogfeed</a>
    </div>
    <script src="https://app.dialogfeed.com/wc/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
{% endblock %}
