{% extends "theme.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <link rel="import" href="https://app.dialogfeed.com/wc/elements/dialogfeed-wall.html">  <dialogfeed-wall slug="uni-day-raffle" width="" env="production_page"></dialogfeed-wall><a style="text-indent: -9999px; position: absolute; bottom: 50px; right: 20px; z-index: -1; display:inline-block;" href="http://www.dialogfeed.com/">Social Wall and Widget By Dialogfeed</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="taggbox-container" style="width:100%;height:auto;overflow: auto;"><script async src="//taggbox.com/socialwalls/ose/script/embed.min.js" type="text/javascript"></script><div class="taggbox-socialwall" data-wall-id="uni-day-17">  </div></div>
            </div>
        </div>
    </div>
{% endblock %}
