{% extends "theme.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                    <link rel="import" href="https://app.dialogfeed.com/wc/elements/dialogfeed-wall.html">  <dialogfeed-wall slug="uni-day-raffle" width="" env="production_page"></dialogfeed-wall><a style="text-indent: -9999px; position: absolute; bottom: 50px; right: 20px; z-index: -1; display:inline-block;" href="http://www.dialogfeed.com/">Social Wall and Widget By Dialogfeed</a>
            </div>
        </div>
        <div class="row">
            {% for entry in entries %}
                <div class="col-3">
                    <h1>{{ entry.name }}</h1>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://app.dialogfeed.com/wc/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
{% endblock %}
