{% extends "theme.html" %}

{% load static %}

{% block body %}
    <div class="container">
        <div class="card-columns">
            {% for entry in entries %}
                <div class="card">
                    {% if entry.img_url %}
                        <img class="card-img-top img-fluid" src="{{ entry.img_url }}" alt="(Image)">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{% static "img/eestecist.jpeg" %}" alt="(Image)">
                    {% endif %}
                    <div class="card-block">
                        <h4 class="card-title">{{ entry.name }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://app.dialogfeed.com/wc/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
{% endblock %}
